body {
  background-color: black;
  color: white;
  width: ;
  height ;
  font-family: manga_templeregular;
  line-height: 1.6;
}

.page-header {
  font-family: manga_templebold;
  font-size: 35;
  text-align: center;
  color: black;
  -webkit-text-stroke: 4px white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 30;
  background-image: url("header-background.png");;
}

.nav-flex {
  width: ;
  height ;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: center;
  padding: 10px;
}

.nav-flex a:link {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.nav-flex a:visited {
  color: white;;
}

.nav-flex a:hover {
  color: white;
  font-family: manga_templebold;
}

.nav-slides {
  width: ;
  height ;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  text-align: center;
  padding: 15;
}

.nav-arrows {

}

.slides {
  width: ;
  height: ;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: ;
}

.slide-title {
  color: white;
  font-family: manga_templeregular;
}

.slide-images {
  width: ;
  height: ;
}

.slide-text {
  width: ;
  height: ;
}



@font-face {
  font-family: 'manga_templeregular';
  src: url('mangat-webfont.woff2') format('woff2'),
    url('mangat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manga_templebold';
  src: url('mangatb-webfont.woff2') format('woff2'),
    url('mangatb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manga_templeitalic';
  src: url('mangati-webfont.woff2') format('woff2'),
    url('mangati-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
