body {
  background-color: black;
  color: white;
  width: ;
  height;
  font-family: manga_templeregular;
  line-height: 1.6;
  cursor: url("./images/eye-cursor.cur"), default;
}

.page-header {
  font-family: manga_templebold;
  font-size: 35;
  text-align: center;
  color: black;
  -webkit-text-stroke: 4px white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center left;
  padding: 30;
  background-image: url("./images/header-background.png");
  ;
}

.nav-flex {
  display: flex;
  justify-content: space-around;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  height: 40;
  align-items: center;
  text-align: center;
  padding: 10;
  font-size: 25;
}

.nav-slides {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15;
  font-size: 20;
}

.nav-arrow {
  text-align: center;
  margin: auto;
  display: table;
  padding-top: 15;
}

.nav-flex a:link {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.nav-flex a:visited {
  color: white;
  ;
}

.nav-flex a:hover {
  color: white;
  font-weight: bolder;
}

.nav-slides a:link {
  text-decoration: none;
  color: white;
  font-style: normal;
}

.nav-slides a:visited {
  color: white;
  ;
}

.nav-slides a:hover {
  color: white;
  font-weight: bolder;
}

.slide-title {
  color: white;
  font-family: manga_templeregular;
  text-align: center;
  font-size: 20;
}

.slide-images {
  padding: 20;
  vertical-align: middle;
}

.slide-text {
  margin: auto;
  width: 60%;
  line-height: 1.6;
  text-align: justify;
  padding: 5;
  font-size: 18;
}

@font-face {
  font-family: 'manga_templeregular';
  src: url('./fonts/mangat-webfont.woff2') format('woff2'),
    url('./fonts/mangat-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manga_templebold';
  src: url('./fonts/mangatb-webfont.woff2') format('woff2'),
    url('./fonts/mangatb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'manga_templeitalic';
  src: url('./fonts/mangati-webfont.woff2') format('woff2'),
    url('./fonts/mangati-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
