body {
  background-color: rgb(23, 23, 30);
  color: rgb(255, 255, 255);
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18;
}

.nav-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50;
  padding: 15;
  background-color: black;
}

.page-header {
  font-family: lft-etica-mono, sans-serif;
  background-position: center left;
  background-repeat: no-repeat;
  background-image: url("background-header.jpg");
  background-size: 100%;
  padding: 15;
}

.nav-link a:link {
  color: rgb(255, 255, 255);
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25;
  text-decoration: none;
}

.nav-link a:visited {
  color: inherit;
}

.nav-link a:hover {
  color: rgb(253, 219, 58);
  font-weight: 900;
}

h1 {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  padding-left: 40;
  font-size: 55;
  color: rgb(253, 219, 58);
}

h2 {
  font-family: roboto, sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 40;
  text-decoration: none;
  text-align: center;
}

.center-justify-text p {
  margin: auto;
  width: 60%;
  line-height: 1.6;
  text-align: justify;
}
