@font-face {
  font-family: "SegoeUI Bold";
  src: url("./fonts/segoeuib.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SegoeUI";
  src: url("./fonts/segoeui.ttf") format("truetype");
}

@font-face {
  font-family: "SegoeUI Italic";
  src: url("./fonts/segoeuii.ttf") format("truetype");
  font-style: italic;
}

body {
  background-color: white;
  color: black;
}

.heading {
  font-family: "SegoeUI Bold";
  font-size: 50;
  margin: 0;
  position: absolute;
  left: 20%;
  right: 20%;
  top: 5%;
  text-align: center;
}

.small-subhead {
  font-family: "SegoeUI Bold";
  font-size: 25;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 20%;
  right: 20%;
}

.normal-body {
  font-family: "SegoeUI";
  font-size: 18;
  line-height: 1.6;
}

.bold-body {
  font-family: "SegoeUI Bold";
  font-size: 20;
  line-height: 1.4;
}

.NF-home {
  position: absolute;
  width: 28.75%;
  left: 28.80%;
  top: 21.57%;
}

.NF-home:hover{
  opacity: 80%;
}

.Jakey-home {
  position: absolute;
  width: 17.29%;
  left: 58.39%;
  top: 21.57%;
}

.Jakey-home:hover{
  opacity: 80%;
}

.Logic-home {
  position: absolute;
  width: 14.95%;
  left: 27%;
  bottom: 15.27%;
}

.Logic-home:hover{
  opacity: 80%;
}

.Eminem-home {
  position: absolute;
  width: 14.95%;
  left: 62%;
  bottom: 15.27%;
}

.Eminem-home:hover{
  opacity: 80%;
}

.JoshA-home {
  position: absolute;
  width: 14.95%;
  left: 44.79%;
  bottom: 15.27%;
}

.JoshA-home:hover{
  opacity: 80%;
}
